@import "tailwindcss";

body {
    background: url('../public/bg (1).png');
    background-size: cover;
    background-repeat: no-repeat;
}

@layer components {
  .bg-glass {
    @apply bg-clip-padding backdrop-blur-md 
    hover:bg-gray-600/10 border border-gray-800 text-white;
  }
}
